<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot itp</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{url_for('static', filename='css/chat.css') }}"
    />
  </head>
  <body class="d-flex h-100 bg-light">
    <div class="position-fixed bottom-0 end-0 mb-3 me-3">
      <style>
        @keyframes bounce {
          0%,
          20%,
          50%,
          80%,
          100% {
            transform: translateY(0);
          }
          40% {
            transform: translateY(-30px);
          }
          60% {
            transform: translateY(-15px);
          }
        }
        .btn-chat {
          animation: bounce 2s infinite;
          border: none;
          background: none;
          padding: 0;
          cursor: pointer;
        }

        /* Icono SVG */
        .btn-chat svg {
          width: 60px;
          height: 60px;
          margin-right: 8px;
          fill: currentColor; /* Hereda el color del texto */
          transition: transform 0.3s;
          color: #333;
        }

        /* Estado normal */
        .btn-chat:not(:hover) svg {
          transform: rotate(0deg);
        }

        /* Estado hover */
        .btn-chat:hover {
          transform: translateY(-2px);
        }

        .btn-chat:hover svg {
          transform: rotate(360deg);
        }
      </style>
      <button
        type="button"
        class="btn btn-transparent position-relative btn-chat"
        id="liveToastBtn"
      >
        <svg
          fill="#ffffff"
          width="800px"
          height="800px"
          viewBox="0 0 24 24"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M11.999 0c-2.25 0-4.5.06-6.6.21a5.57 5.57 0 0 0-5.19 5.1c-.24 3.21-.27 6.39-.06 9.6a5.644 5.644 0 0 0 5.7 5.19h3.15v-3.9h-3.15c-.93.03-1.74-.63-1.83-1.56-.18-3-.15-6 .06-9 .06-.84.72-1.47 1.56-1.53 2.04-.15 4.2-.21 6.36-.21s4.32.09 6.36.18c.81.06 1.5.69 1.56 1.53.24 3 .24 6 .06 9-.12.93-.9 1.62-1.83 1.59h-3.15l-6 3.9V24l6-3.9h3.15c2.97.03 5.46-2.25 5.7-5.19.21-3.18.18-6.39-.03-9.57a5.57 5.57 0 0 0-5.19-5.1c-2.13-.18-4.38-.24-6.63-.24zm-5.04 8.76c-.36 0-.66.3-.66.66v2.34c0 .33.18.63.48.78 1.62.78 3.42 1.2 5.22 1.26 1.8-.06 3.6-.48 5.22-1.26.3-.15.48-.45.48-.78V9.42c0-.09-.03-.15-.09-.21a.648.648 0 0 0-.87-.36c-1.5.66-3.12 1.02-4.77 1.05-1.65-.03-3.27-.42-4.77-1.08a.566.566 0 0 0-.24-.06z"
          />
        </svg>
        <span
          class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle"
        >
          <span class="visually-hidden">New alerts</span>
        </span>
      </button>

      <div class="toast-container position-fixed bottom-0 end-0 p-3 text-body">
        <div
          id="liveToast"
          class="toast border-0 border-toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
          data-bs-autohide="false"
        >
          <div class="card h-100">
            <div class="card-header msg_head">
              <div class="row">
                <div class="col-8 col-sm-6">
                  <strong class="me-auto">Bootstrap</strong>
                </div>
                <div class="col-4 col-sm-6 text-end">
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="toast"
                    aria-label="Close"
                  ></button>
                </div>
              </div>
            </div>
            <div
              class="card-body overflow-auto"
              data-chat="{{ chat_history }}"
              id="chat-data"
            >
              <button
                class="btn btn-danger mt-3"
                onclick="clearSession()"
                id="clearChatButton"
              >
                Borrar Chat
              </button>
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %} {% for category, message in messages %}
              <div class="alert {{category}}" role="alert">{{ message}}</div>
              {% endfor %}
              <hr />
              {% endif %} {% endwith %} {% for chat in chat_history %}
              <!---->
              <div class="message">
                <p><strong>{{ chat.message_type }}:</strong> {{ chat.text }}</p>
                <p class="text-muted">{{ chat.time }}</p>
              </div>
              {% endfor %}
            </div>

            <div class="card-footer text-body-secondary">
              <form method="post">
                <div class="row h-100">
                  <div class="col-12 col-sm-10 m-0 p-0 pe-1">
                    <textarea
                      name="user_input"
                      class="form-control type_msg overflow-auto"
                      placeholder="Type your message..."
                      rows="1"
                      id="user_input"
                      oninput="adjustTextarea(this)"
                      required
                    ></textarea>
                  </div>
                  <div class="col-12 col-sm-2 m-0 p-0 chat-actions">
                    <button
                      class="svg-button"
                      {%
                      if
                      error_present
                      %}disabled{%
                      endif
                      %}
                    >
                      <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M11.5003 12H5.41872M5.24634 12.7972L4.24158 15.7986C3.69128 17.4424 3.41613 18.2643 3.61359 18.7704C3.78506 19.21 4.15335 19.5432 4.6078 19.6701C5.13111 19.8161 5.92151 19.4604 7.50231 18.7491L17.6367 14.1886C19.1797 13.4942 19.9512 13.1471 20.1896 12.6648C20.3968 12.2458 20.3968 11.7541 20.1896 11.3351C19.9512 10.8529 19.1797 10.5057 17.6367 9.81135L7.48483 5.24303C5.90879 4.53382 5.12078 4.17921 4.59799 4.32468C4.14397 4.45101 3.77572 4.78336 3.60365 5.22209C3.40551 5.72728 3.67772 6.54741 4.22215 8.18767L5.24829 11.2793C5.34179 11.561 5.38855 11.7019 5.407 11.8459C5.42338 11.9738 5.42321 12.1032 5.40651 12.231C5.38768 12.375 5.34057 12.5157 5.24634 12.7972Z"
                          stroke="#000000"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
  </body>
</html>
